.featured {
  padding: 43px 0;

  .page-width {
    max-width: 1160px;
    margin: 0 auto;
    padding-inline: 0;
  }

  &__title {
    margin: 0 0 30px;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 45px;
  }

  .featured-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    &__image-wrap {
      width: 100%;
      margin-bottom: 30px;
      overflow: hidden;
      aspect-ratio: 540 / 340;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &__title {
      margin: 0 0 11px;
      font-size: 22px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 29px 80px;
      border-radius: 40px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0;
      margin: 0 auto;
    }
  }

  @media (min-width: 750px) {
    padding: 80px 0;

    .page-width {
      padding-inline: 40px;
    }

    &__title {
      font-size: 42px;
      margin-bottom: 60px;
    }

    &__grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 40px;
      row-gap: 119px;
    }
  }
}
